html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
    font-size: 70%;
    line-height: 1.4;
    font-weight: 400;
    font-family: sans-serif;
}
.title {
    margin-top: 100px;
}
.demo {
    text-align: center;
}
@media only screen and (min-width: 600px) {
    body {
        justify-content: center;
        font-size: 100%;
    }
}


/*-------------------------------------------*/


.zoid-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #16a34a;
    border-radius: 0.25em;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    height: 3em;
    line-height: 3em;
    padding: 0 1em;
}
.zoid-button:hover {
    background-color: #17ac4e;
}
.zoid-container {
    text-align: center;
    max-width: 40em;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
}
.zoid-container > h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: normal;
    color: #111827;
}
.zoid-container > p {
    margin-top: 2em;
    margin-bottom: 2em;
}
.zoid-container sup {
    font-size: 1rem;
    margin-left: 0.25em;
    opacity: 0.5;
    position: relative;
}
.zoid-logo {
    text-align: center;
    margin: 10px;
}

/*modal start*/
.zoid-details-modal {
    background: #ffffff;
    border-radius: 0.5em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    pointer-events: none;
}
.zoid-details-modal .zoid-details-modal-close {
    align-items: center;
    color: #111827;
    display: flex;
    height: 4.5em;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 4.5em;
}
.zoid-details-modal .zoid-details-modal-close svg {
    display: block;
}
.zoid-details-modal .zoid-details-modal-content {
    border-top: 1px solid #e0e0e0;
    padding: 2em;
    pointer-events: all;
    overflow: auto;
    max-height: 500px !important;
}
.zoid-details-modal-overlay {
    transition: opacity 0.2s ease-out;
    pointer-events: none;
    background: rgba(15, 23, 42, 0.8);
    position: fixed;
    opacity: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
details[open] .zoid-details-modal-overlay {
    pointer-events: all;
    opacity: 0.5;
}
details summary {
    list-style: none;
}
details summary:focus {
    outline: none;
}
details summary::-webkit-details-marker {
    display: none;
}
/*modal stop*/